---
layout: default
---
<section id="content" class="homepage">
  <!--
  <div class="col-md-12">
    <div class="intro">
      <div class="in">
        <h1>How can we help?</h1>
      </div>
    </div>
  </div>
  -->

  {% include sidenav.html %}

  <main id="main" class="homepage">
    <!--<div class="intros">
      <div class="two-up">
        <div class="category">
          <h3>Landgrid.com</h3>
          <p>How to get started on the site</p>
          <a href="/articles/introduction" class="btn">Getting started</a>

        </div>      
        <div class="category">
          <h3>Landgrid Data</h3>
          <p>FAQs about our bulk data</p>
          <a href="/articles/parcel-data-faq" class="btn">Bulk data support</a>
        </div>     
      </div> 
    </div>-->
    <div class="intros">
      <div class="category">
        <h3>Welcome to Landgrid Support!</h3>
        <p>Winter Holiday and New Year's Break - Our offices are closed until
            January 4th, 2021. We wish everyone a peaceful and safe New Year.
        </p>
        <p>We will follow up on support emails and messages when we return. 
            If you have an urgent issue, please let us know at 
            <a href="mailto:help+urgent@landgrid.com">help@landgrid.com</a> 
        </p>
        <p>If you are just getting started, we have information 
          on our <a href="/articles/introduction-starter">Free</a>, 
          <a href="/articles/introduction">Pro</a>, <a href="https://landgrid.com/team">Team</a>, and 
          <a href="https://landgrid.com/enterprise">Enterprise</a> plans, as well as 
          <a href="/articles/parcel-data-faq/">FAQs about our bulk data</a>.
        </p>
        <p>Can't find what you need? Just email <a href="mailto:help@landgrid.com">help@landgrid.com</a> for assistance.</p>
      </div>      
    </div>

    {% for category in site.category-list %}
      <section class="category">
        <h2>{{ category }}</h2>

        {% assign articles = site.articles | where: 'category', category %}
        {% assign articles = articles | sort: 'weight' %}
        {% for article in articles %}
          <div class="article">
            <h3>
                <a class="post-link" href="{{ site.baseurl }}{{ article.url | prepend: article.baseurl }}">{{ article.title }}</a>
            </h3>
            <p>{{ article.intro }}</p>
          </div>
        {% endfor %}
      </section>
    {% endfor %}
  </main>

  <div class="sidebar">
    <!--<img src="{{site.baseurl}}/img/sneak.png" width="100%">-->
    <img src="{{site.baseurl}}/img/heart.png" width="100%">
  </div>    
</section>
